<!-- -*- mode: XML -*- -->
<launch>
    <!-- sensor input data -->
    <arg name="odom_in_topic"         default="/t265/odom/sample"/>
    <!-- name of the odom topic outputed by the node -->
    <arg name="odom_out_topic"        default="/odom"/>
    <!-- name of the odom tf outputed by the node -->
    <arg name="odom_out_frame"        default="odom"/>
    <!-- sensor offset values are in meters -->
    <arg name="sensor_offset"         default='{"x": 0.285, "y": 0.205, "z": 0.595}'/>
    <!-- sensor rotation values are in degrees -->
    <arg name="sensor_rotation"       default='{"x": 0, "y": 0, "z": 0}'/>
    <!-- ignore x coordonate - value is CAPS sensitive (True/False) -->
    <arg name="ignore_x"              default='False'/>
    <!-- ignore y coordonate - value is CAPS sensitive (True/False) -->
    <arg name="ignore_y"              default='False'/>
    <!-- ignore z coordonate - value is CAPS sensitive (True/False) -->
    <arg name="ignore_z"              default='False'/>

    <node pkg="sensor_odom_manager" type="sensor_odom_manager_node.py" name="odom_manager" ns="sensor_odom_mngr" 
            output="screen">
        <param name="odom_in_topic"         value="$(arg odom_in_topic)"/>
        <param name="odom_out_topic"        value="$(arg odom_out_topic)"/>
        <param name="odom_out_frame"        value="$(arg odom_out_frame)"/>
        <param name="sensor_offset"         value="$(arg sensor_offset)"/>
        <param name="sensor_rotation"       value="$(arg sensor_rotation)"/>
        <param name="ignore_x"              value="$(arg ignore_x)"/>
        <param name="ignore_y"              value="$(arg ignore_y)"/>
        <param name="ignore_z"              value="$(arg ignore_z)"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_t265_link" args="0.285 -0.205 0.595 0 0 0 /base_link /t265_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="t265_link_to_d435_link" args="  -0.009375589 0.015890727 0.028273059 0 0 0 /t265_link /d435_link 100"/>
    <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_x2l"
    args="0.065 -0.2025  0.235 0.0 0.0  0.0 /base_link /X2L_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_x4"
    args="0.07 0.2075 0.235 0.0 0.0  0.0 /base_link X4_frame 100" />-->

    <node pkg="tf" type="static_transform_publisher" name="t265_link_to_x2l"
    args="-0.220 0.0025  -0.360 0.0 0.0  0.0 /t265_link /X2L_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="t265_link_to_x4"
    args="-0.215 0.4125 -0.360 0.0 0.0  0.0 /t265_link X4_frame 100" />


</launch>
